$color: #034710;

.value {
    display: block;
}

.movie-view {
    display: grid;
    grid-template-columns: 1fr;
}

.movie-item {
    padding: 20px;
    text-align: left;
    margin: auto;
    &:nth-child(1) {
        text-align: center;
    }
    &:nth-child(2) img {
        width: 500px;
        height: 600px;
    }
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: $color;
    border: 2px solid $color;
    padding: 20px;
    &:hover {
        background-color: lighten($color, 30%);
        transition: 0.5s;
        cursor: pointer;
    }
}