.movie-view-card {
    box-shadow: 4px 4px 6px 4px rgba(12, 17, 26, 0.3);
}

.label {
    display: block;
}

@media all and (max-height: 800px) {
    .movie-view-container {
        height: 800px;
    }
    .movie-view-card {
        height: 800px;
    }
}