$color: steelblue;

.main-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    color: $color;
    text-align: center;
    margin-top: 3em;
    font-size: 20px;
}

.movie-card {
    border: 2px solid $color;
    padding: 20px;
}

.movie-card:hover {
    background-color: lighten($color, 30%);
    transition: 0.5s;
}